:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-White: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    font-family: 'Lexend Deca', sans-serif;
}
p {
    color: var(--Transparent-White);
}
h1 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: var(--Very-light-gray);
    font-size: 3rem;
    font-weight: 700;
    margin: 2rem 0;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.container {
    margin: 8rem 2rem;
}
.card {    
    display: flex;
    flex-direction: column;
    padding: 4rem 4rem 0 4rem;
    height: 42rem;
}
.card p {
    line-height: 1.5;
}
.card:first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.card:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.card-sedan {
    background-color: var(--Bright-orange);
    color: var(--Bright-orange);
}
.card-suvs {
    background-color: var(--Dark-cyan);
    color: var(--Dark-cyan);
}
.card-luxury {
    background-color: var(--Very-dark-cyan);
    color: var(--Very-dark-cyan);
}
.icon {
    width: 7rem;
    height: 5rem;
    padding: 2.5rem;
}
.icon-sedan {
    background-image: url(../images/icon-sedans.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 0 center;
}
.icon-suvs {
    background-image: url(../images/icon-suvs.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 0 center;
}
.icon-luxury {
    background-image: url(../images/icon-luxury.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 0 center;
}
a {
    margin-top: 2rem;
    text-decoration: none;
}

.btn {
    background-color: var(--Very-light-gray);
    border-radius: 3rem;
    width: 14rem;
    text-align: center;
    padding: 1rem;
    
}
.btn:active {
    background-color: unset;
    border: 2px solid var(--Very-light-gray);
    color: var(--Very-light-gray);
}

/*Desktop*/
@media (min-width: 800px) {
    body {
        width: 100vh;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .container {        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-radius: 1rem;
    }
    .card {
        width: 300px;
        height: 45rem;
    }
    .card:first-child {
        border-top-left-radius: 1rem;
        border-top-right-radius: 0rem;
        border-bottom-left-radius: 1rem;
    }
    .card:last-child {
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 1rem;
    }
    a {
        margin-top: 6rem;
    }
    
}