:root {
/* Colors Primary*/
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
/* Neutral*/
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
/* Typography */
    --fontInter: 'Inter', sans-serif;
    --fontLexed: 'Lexend Deca', sans-serif;    
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    color: var(--slightly-transparent-white);
}
*, *:before, *:after {
    box-sizing: inherit;
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    color: var(--slightly-transparent-white);
}
body{
    font-family: var(--fontLexed);
    font-size: 1.5rem;
    font-weight: 400;
    background-color: var(--very-dark-blue);
}
h1, h2 {
    color: var(--white);
}
h1 {
    font-family: var(--fontInter);
    font-size: 3.2rem;
}
h2 {
    font-size: 2rem;
    font-weight: 700;
}
.container {
    width: 90%;
    max-width: 900px;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--dark-desaturated-blue);
    border-radius: 5px;
    padding-bottom: 1rem;    
}
.data {
    margin-top: 4rem;
}
.data-analysis {
    line-height: 0.5;
    margin-top: 4rem;
}
.data-analysis p {
    text-transform: uppercase;    
}
span {
    color: var(--soft-violet);
}
section {
    padding: 2rem;
}
.section-text {
    margin: 1.2rem;
}
.image-bg {
    width: 100%;
    height: 319px;
    background-image: url(../images/image-header-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center center;
    background-color: var(--soft-violet);
    background-blend-mode: multiply;
    border-top-left-radius: 0.5rem; 
    border-top-right-radius: 0.5rem;    
}

.attribution { 
    font-size: 1.1rem; 
    text-align: center; }
.attribution a { 
    color: hsl(228, 45%, 44%); }

@media (min-width: 768px) {
    .container {
        margin-top: 10rem;
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center center;
        padding: 0;
    }
    section {
        width: 50%;  
        max-height: 400px;           
        text-align: left;        
        padding: 4.5rem;
    }
    .section-text {
        margin: 0;
    }
    .image-bg {
        background-image: url(../images/image-header-desktop.jpg);
        width: 50%;
        height: 400px;  
        border-top-right-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 5px;        
    }
    .data {
        display: flex;
        justify-content: space-between;
    }   
    .data-analysis {
        margin-top: 0;
    }
}